<div class="container bg-light p-5 rounded-lg m-3">
  <div class="display-4">
    <h1>My Personal Home Page</h1>
  </div>
  <p class='lead'>You can read more about me, or checkout my blog </p>

  <%= link_to "About Me", about_path %>
</div>